<ul class='c-subscribe-list'>
  <li class='c-subscribe-list__item'>
    <a href='#' class='c-subscribe-list__link' target='_blank' rel='noopener noreferrer'>
      <div class='c-subscribe-list__media'>
        <img class='c-subscribe-list__icon lazyload' data-src='{{ asset 'icons/apple.svg' }}' alt='Apple Podcasts icon' width='20' height='20'>
      </div>
      <span class='c-subscribe-list__name'>Apple Podcasts</span>
    </a>
  </li>

  <li class='c-subscribe-list__item'>
    <a href='#' class='c-subscribe-list__link' target='_blank' rel='noopener noreferrer'>
      <div class='c-subscribe-list__media'>
        <img class='c-subscribe-list__icon lazyload' data-src='{{ asset 'icons/overcast.svg' }}' alt='Overcast icon' width='20' height='20'>
      </div>
      <span class='c-subscribe-list__name'>Overcast</span>
    </a>
  </li>

  <li class='c-subscribe-list__item'>
    <a href='#' class='c-subscribe-list__link' target='_blank' rel='noopener noreferrer'>
      <div class='c-subscribe-list__media'>
        <img class='c-subscribe-list__icon lazyload' data-src='{{ asset 'icons/spotify.svg' }}' alt='Spotify icon' width='20' height='20'>
      </div>
      <span class='c-subscribe-list__name'>Spotify</span>
    </a>
  </li>

  <li class='c-subscribe-list__item u-hidden'>
    <a href='#' class='c-subscribe-list__link' target='_blank' rel='noopener noreferrer'>
      <div class='c-subscribe-list__media'>
        <img class='c-subscribe-list__icon lazyload' data-src='{{ asset 'icons/pocketcasts.svg' }}' alt='Pocket Casts icon' width='20' height='20'>
      </div>
      <span class='c-subscribe-list__name'>Pocket Casts</span>
    </a>
  </li>

  <li class='c-subscribe-list__item u-hidden'>
    <a href='#' class='c-subscribe-list__link' target='_blank' rel='noopener noreferrer'>
      <div class='c-subscribe-list__media'>
        <img class='c-subscribe-list__icon lazyload' data-src='{{ asset 'icons/castro.svg' }}' alt='Castro icon' width='20' height='20'>
      </div>
      <span class='c-subscribe-list__name'>Castro</span>
    </a>
  </li>

  <li class='c-subscribe-list__item u-hidden'>
    <a href='#' class='c-subscribe-list__link' target='_blank' rel='noopener noreferrer'>
      <div class='c-subscribe-list__media'>
        <img class='c-subscribe-list__icon lazyload' data-src='{{ asset 'icons/breaker.svg' }}' alt='Breaker icon' width='20' height='20'>
      </div>
      <span class='c-subscribe-list__name'>Breaker</span>
    </a>
  </li>

  <li class='c-subscribe-list__item u-hidden'>
    <a href='#' class='c-subscribe-list__link' target='_blank' rel='noopener noreferrer'>
      <div class='c-subscribe-list__media'>
        <img class='c-subscribe-list__icon lazyload' data-src='{{ asset 'icons/googlepodcasts.svg' }}' alt='Google Podcasts icon' width='20' height='20'>
      </div>
      <span class='c-subscribe-list__name'>Google Podcasts</span>
    </a>
  </li>

  <li class='c-subscribe-list__item u-hidden'>
    <a href='#' class='c-subscribe-list__link' target='_blank' rel='noopener noreferrer'>
      <div class='c-subscribe-list__media'>
        <img class='c-subscribe-list__icon lazyload' data-src='{{ asset 'icons/radiopublic.svg' }}' alt='RadioPublic icon' width='20' height='20'>
      </div>
      <span class='c-subscribe-list__name'>RadioPublic</span>
    </a>
  </li>

  <li class='c-subscribe-list__item u-hidden'>
    <a href='#' class='c-subscribe-list__link' target='_blank' rel='noopener noreferrer'>
      <div class='c-subscribe-list__media'>
        <img class='c-subscribe-list__icon lazyload' data-src='{{ asset 'icons/rss.svg' }}' alt='RSS icon' width='20' height='20'>
      </div>
      <span class='c-subscribe-list__name'>RSS</span>
    </a>
  </li>
</ul>